.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    justify-content: center;
}

p {
    text-align: justify;
    vertical-align: bottom;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.col hr {
    height: 3px;
    background-color: black;
}

.col-auto{
    font-size: 26px;
    margin-top: -5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

b {
    font-weight: bolder;
}